extends ../layouts/layout

block content
  h2 Signup for Read Honey

  if message
    div.error-message There is a email already associated with this account
  
  form(method="post")
    input(type="text", name="email")
      
    input(type="password", name="password")
    
    input(type="submit", value="Submit")





