doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Lobster")
    

    body
    a(href='/') Home


    a.logout(href='/logout') Logout 


    block content
