extends layouts/layout

block content
  h1= title
  h1 Booklisting 

  a(href='/') Home

   //- //search 

  h2
    ul Wanted Bookshares
  h4
  for book in books 
  
    li Title
    li Author
    li img_url
    a(href='/') Details

  h2
    ul Owned Bookshares
  h4  
  for book in books 
    li Title
    li Author
    li img_url
    a(href='/') Details


    
  a.logout(href='/logout') Logout 
