extends layouts/layout

block content
  h1= title
  h1 Book Share Forms

  div Create a Bookshare
   form(name="wantedbook", action="/book/book", method="post")
      div
        label(for="title") Title
        input(type="text", name="title")

      div
        label(for="author") Author
        input(type="text", name="author")

      div
        label(for="image_url") Image Url 
        input(type="text", name="image_url")

      div
        label Do You Want this Book (Check Box for yes and Unchecked for no)
        input(type="radio", name="wanted", value="false")

      div
        input(type="submit", value="Creatya book")
  

      h2 Bookshare Explanation
        p What is a wanted bookshare?
          p explanation
        p What is a owned bookshare?
          p explanation