extends layouts/layout

block content
  h1= title
  h1 Booklisting 

  a(href='/') Home

  ul
    for book in books
      li 
        a(href='/book/details') #{book.title} 
        div
      li #{book.author}
        div
      li #{book.img_url}
        div
      li




