extends layouts/layout

block content
  h1= title
  h1 Book Share Forms

  div What Book Do You Want?
   form(name="wantedbook", action="/book/book", method="post")
      div
        label(for="title") Title
        input(type="text", name="title")

      div
        label(for="author") Author
        input(type="text", name="author")

      div
        label(for="image_url") Image URL
        input(type="text", name="image_url")

      div
        input(type="submit", value="Creatya book")
  
  //- div What Book Do You Want to Loan?
  //-  form(name="ownedbook", action="/book/book", method="post")
  //-     input(type="text", name="title")
      
  //-     input(type="text", name="author")
    
  //-     input(type="submit", value="Givea book")