extends layouts/layout

block content
  h1 Read Honey
  br
  h2 More about ...

  h3= book.title
  h5= book.author
  h5= book.image_url
  
  form(name='delete', id='delete-form', action='/book/delete/'+book.id, method='get')
    input(type='submit' value='Delete Book')

 
