
extends layouts/layout

block content
  div
    a(href='/book') Create a Book Share
  div
    a(href='/logout') Logout

  h1 Welcome to #{title}

    img(src ='http://pngimg.com/upload/book_PNG2115.png')




//-     extends ../layouts/layout

//- block content
//-   h1= title
//-   h1 Welcome to #{title}
//-   h3 The Community Bookshare App

//-   div Login
//-    form(name="login", action="/users/login", method="post")
//-       input(type="text", name="email")
      
//-       input(type="password", name="password")
    
//-       input(type="submit", value="Login")





