
extends layouts/layout

block content
  //- div
  //-   a(href='/book') Create a Book Share
  div
    a(href='/users/signup') Sign up (before you try to do anything else!)
  div
    a(href='/users/login') Sign in (if you already have an account!)
  h1 Welcome to #{title}





//-     extends ../layouts/layout

//- block content
//-   h1= title
//-   h1 Welcome to #{title}
//-   h3 The Community Bookshare App

//-   div Login
//-    form(name="login", action="/users/login", method="post")
//-       input(type="text", name="email")
      
//-       input(type="password", name="password")
    
//-       input(type="submit", value="Login")





