extends layouts/layout

block content
  h1= title
  h1 Books Wanted

  a(href='/') Home

   //- //search 

  h2
    ul Wanted Bookshares
  h4  
    li Title
    li Author
    li img_url
    a(href='/') Details


    
  a.logout(href='/logout') Logout 
